/* App.css */
.navigation-box {
  position: fixed;
  top: 40px;
  right: 40px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

.navigation-box ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Display flex to arrange items horizontally */
}

.navigation-box li {
  margin-right: 20px; /* Add margin between links */
}

.navigation-box a {
  color: white;
  text-decoration: none;
}
