.updates-container {
    /* Add background image styles */
  }
  
  .updates-content {
    padding: 20px; /* Add padding to create space */
  }
  
  .updates-title {
    margin-bottom: 10px; /* Add margin to create space between title and horizontal line */
  }
  
  .horizontal-line {
    margin-bottom: 20px; /* Add margin to create space between horizontal line and content */
  }
  